{% extends "base.html" %}

{% block content %}

<h1>Admin: Enter Signatures</h1>
<p>You are entering signatures for <strong>{{ issue }}</strong>. <a href="{% url openelections.petitions.views.view_signatures issue_slug=issue.slug %}">View added signatures.</a>
    <br/>SUIDs can only have 8 characters; if any are longer, that's a problem.</p>
    {% if num_added %}<p><strong>Added {{ num_added }} signatures.</strong></p>{% endif %}
<form method = "POST">
    <dl>
        <dd>1. <input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd>10. <input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd>20. <input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd>30. <input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd>40. <input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd><input type="text" name="suid" maxlength="8" /></dd>
        <dd>50. <input type="text" name="suid" maxlength="8" /></dd>

        <dd><input type="submit" value="Add Signatures"/>  </dd>        

    </dl>

</form>
    <p>{{ responsetext|safe}}</p>

{% endblock %}