{% extends "issues/base-public.html" %}

{% block content %}
    <h1>Not public</h1>
    <p>This issue cannot be viewed publicly because it is under review from the ASSU Elections Commission or it has been removed at the request of the
        sponsor. If this is a new Special Fee request, it must be approved by the Elections Commission before becoming public. The Elections Commission
        reviews all new Special Fee measures within 48 hours (72 hours on weekends).</p>
    <p>If you are the sponsor of this page, you may view this page by logging in. Click the "Candidate/sponsor login" link at the bottom of the page.</p>
{% endblock %}