{% extends "issues/base-public.html" %}

{% block content %}
    <div style = 'background:#dedede;margin:1em;padding:2em;'>
        <div align="center" style="font-size:18px;">  <strong>Meet the Candidates!</strong></div> Do you want to talk to the candidates before you vote?
    Come to the Meet the Candidates night on <strong>Monday, 4/4, from 5-6 PM in Old Union 200!</strong> Food will be provided.
        Many candidates for
    Executive, Class President, and Undergraduate Senate will be open to answering your questions. See you there!</div>

{% regroup issues|dictsort:"kind_sort" by kind_name as issues_list %}

{% for issue_kind in issues_list %}
    {% with issue_kind.list|first as first_issue %}
        {% include first_issue.partial_index_template %}
    {% endwith %}
{% empty %}
    <!-- empty list -->
    <p>No items to show.</p>
{% endfor %}

<br style="clear:both">

{% endblock %}