{% extends "issues/base-public.html" %}

{% block style %}
    .selecttable {
        text-align:center;
    }
    .selecta,.selecta:link, .selecta:hover {
        background: #dedede;
        padding:2em !important;
        margin:auto !important;
        clear:both;
        font-size:24px !important;
        font-weight:bold;
        display:block !important;
    }
    .selecta:hover {
        background: #18365c !important;
        display:block;
    }

    .selecttable td {
        border:0;
    }
{% endblock %}
{% block content %}

<h1>Welcome to the ASSU Voter Guide.</h1>

    <p>To get started, select an issue type from above, or...</p>
    <div align="center">
    <table class="selecttable">
        <tr><td colspan="2"><h2><a href="{% url issues.views.index show="all" %}" class="selecta">View all items</a></h2></td></tr>
        <tr><td width="50%" ><a href="{% url issues.views.index show="undergrad" %}" class="selecta">View undergrad items</a></td>
            <td><a href="{% url issues.views.index show="grad" %}" class="selecta">View grad items</a></td>
        </tr>
        <!--<tr><td>&nbsp;</td><td><a href="{% url issues.views.index show="smsa" %}" class="selecta">View SMSA items</a></td></tr>-->
    </table></div>


<br style="clear:both">

{% endblock %}