{% load markup %}
{% load issue_extras %}

<br/>
<table class="specialfees" cellspacing="0">
    <tbody>
        <tr>
            <th>Special Fee type</th>
            <td>{% if issue.is_undergrad_issue and not issue.is_grad_issue %}Undergraduate Special Fee{% endif %}
            {% if not issue.is_undergrad_issue and issue.is_grad_issue %}Graduate Special Fee{% endif %}
            {% if issue.is_undergrad_issue and issue.is_grad_issue %}Joint Special Fee{% endif %}</td>
        </tr>
        <tr>
            <th>Total request amount</th>
            <td>{{ issue.total_request_amount|currency }}</td>
        </tr>
        <tr>
            <th>Previous Special Fee amount</th>
            <td>{% if issue.total_past_request_amount == 0 %}
                New request
            {% else %}
                {{ issue.total_past_request_amount|currency }}
            {% endif %}</td>
        </tr>
        {% if issue.total_past_request_amount > 0 %}
        <tr>
            <th>Change from previous request</th>
            <td>{{ issue.total_request_percent_change|floatformat:"0" }}%</td>
        </tr>
        {% endif %}
        {% if issue.is_undergrad_issue %}
        <tr>
            <th>Amount per Undergrad</th>
            <td>{{ issue.amount_per_undergrad_annual|currency }} per year</td>
        </tr>
        {% endif %}
        {% if issue.is_grad_issue %}
        <tr>
            <th>Amount per Grad</th>
            <td>{{ issue.amount_per_grad_annual|currency }} per year</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% if issue.needs_petition %}
    {% if issue.public %}
	<dt>
        {% if issue.petition_open %}
           <a href="{% url petitions.views.detail issue.slug %}">&raquo; View/sign petition</a>	
        {% else %}
           <a href="{% url petitions.views.detail issue.slug %}">&raquo; View petition</a>	
        {% endif %}
	</dt>
    <br/>
    {% endif %}
{% else %}
    <dt>No petition required!</dt>
{% endif %}


<br/>

<dt>Special Fee request sponsor</dt>
<dd>{{ issue.name1 }}, <a href="mailto:{{ issue.sunetid1 }}@stanford.edu">{{ issue.sunetid1 }}@stanford.edu</a></dd>

    <h2>Group statement</h2>
{% if issue.statement %}
    {% if issue.image and detail and not hidepdfs %}
        <div style="float:right"><img style="max-width:300px;max-height:400px;margin:0 15px 15px 0" src="{{ issue.image.url }}"></div>
    {% endif %}

    {{ issue.statement|markdown:"safe" }}
    {% else %}
    <p>No statement submitted.</p>
{% endif %}

<h2>Budget Information</h2>

{% if issue.budget %}
    <p style="font-weight:bold;" ><a target="_blank" href="{{ issue.budget.url }}">Requested budget</a></p>
    {% if not hidepdfs %}{{ issue.budget.url|pdf_viewer|safe }}{% endif %}
    <br/>
{% endif %}

{% if issue.past_budget %}
    <p style="font-weight:bold;" ><a target="_blank" href="{{ issue.past_budget.url }}">Current operating budget</a></p>
    {% if not hidepdfs %}{{ issue.past_budget.url|pdf_viewer|safe }}{% endif %}
    <br/>
{% endif %}

{% if issue.budget_spreadsheet %}
    <p style="font-weight:bold;" ><a target="_blank" href="{{ issue.budget_spreadsheet.url }}">Budget Spreadsheet</a></p>
    {% if not hidepdfs %}{{ issue.budget_spreadsheet.url|pdf_viewer|safe }}{% endif %}
    <br/>
{% endif %}

{% if issue.account_statement %}
    <p style="font-weight:bold;" ><a target="_blank" href="{{ issue.account_statement.url }}">Current bank statement</a></p>
    {% if not hidepdfs %}{{ issue.account_statement.url|pdf_viewer|safe }}{% endif %}
    <br/>
{% endif %}

<br style="clear:both">
