{% extends "ballot/base-ballot.html" %}

{% block content %}

<h1>ASSU Spring Quarter General Election</h1>

<p><strong>The polls have closed. Voting ended at 11:59 PM on Friday, April 8, 2011.</strong></p>
    <p>Results will be announced on Saturday, April 9, at 5:00 PM at the CoHo. We welcome all members of the ASSU and anyone
        interested in the ASSU elections.</p>

    <p>Please provide any and all feedback about the ASSU elections &mdash; the good, the bad, or the ugly &mdash; to the Elections Commission at <a href="mailto:elections@elections.stanford.edu">elections@elections.stanford.edu</a>.</p>

<p>If you have questions or have observed an act of voter fraud (such as a candidate or slate attempting to view your computer
    screen while you vote), please <a href="mailto:elections@elections.stanford.edu">contact the ASSU Elections Commission</a>.</p>

{% endblock %}