{% extends "ballot/base-ballot.html" %}

{% block content %}

<h1>ASSU Spring Quarter General Election</h1>

<p><strong>The polls have not yet opened. Voting begins at 12:01 AM on Thursday, April 7, 2011.</strong></p>
<p>Before the polls open, feel free to <a href="http://voterguide.stanford.edu">read statements</a> from the candidates,
slates, and Special Fees that you'll be voting on, online at the <a href="http://voterguide.stanford.edu">ASSU Voter Guide</a>.</p>

<p>If you have questions or have observed an act of voter fraud (such as a candidate or slate attempting to view your computer
    screen while you vote), please <a href="mailto:elections@elections.stanford.edu">contact the ASSU Elections Commission</a>.</p>

{% endblock %}