{% extends "issues/base-public.html" %}

{% block content %}

{% for issue in issues %}
    <h1>{{ issue.name_and_office }}</h1>
    <dl>
        {% if issue.statement_is_public %}
            <dt>{{ issue.noun|capfirst }} statement:</dt>
            <dd>
                View:
                <a href="{% url issues.views.detail issue.slug %}">
                    http://voterguide.stanford.edu{% url issues.views.detail issue.slug %}
                </a>
            </dd>
            <dd>
                <a href="{% url issues.views.manage_edit issue.slug %}">Edit {{ issue.noun }} statement</a>
            </dd>
        {% endif %}
        
        {% if issue.needs_petition %}
            <dt>Petition:</dt> 
            <dd>
                <a href="http://petitions.stanford.edu/petitions/{{ issue.slug }}">
                    http://petitions.stanford.edu/petitions/{{ issue.slug }}
                </a>
            </dd>
        {% endif %}
        
        {% if not issue.statement_is_public and not issue.needs_petition %}
            <dd>You've declared. You'll be notified when you can post a candidate statement.</p>
        {% endif %}
    </dl>
    <br>
{% empty %}
    <p>You aren't listed as a member or sponsor of anything. Start a petition or declare candidacy below.</p>
{% endfor %}

<br>
<hr>
<!--
<h3>Start a new petition for...</h3>
<ul>
    <li><a href="{% url issues.views.manage_new "US" %}">ASSU Undergraduate Senate candidacy</a></li>
    <li><a href="{% url issues.views.manage_new "ClassPres" %}">ASSU Class President slate</a></li>
    <li><a href="{% url issues.views.manage_new "Exec" %}">ASSU Executive slate</a></li>
    <li>GSC Candidate: a Voter Guide account will be created for you when you register a Declaration of Intent.</li>

    <li>Special Fee request: read the <a href="http://elections.stanford.edu/petition-guide">petition guide</a> and then <a href="http://elections.stanford.edu/contact">contact us</a></li>
</ul>-->


<p><strong>Declarations for ASSU positions other than GSC Representative are now closed.</strong> <br/>Candidates for GSC
representative may declare candidacy by filling out the Declaration of Intent form located on the <a href="http://elections.stanford.edu/candidates/">Elections Commission website</a>
and e-mailing it or turning it in directly to the ASSU offices.</p>

<h3>SMSA declarations are open!</h3>
<ul>
     <li><a href="{% url issues.views.manage_new "SMSA-P" %}">SMSA President</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-VPO" %}">SMSA Vice President of Operations</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-VPA" %}">SMSA Vice President of Advocacy</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-T" %}">SMSA Treasurer</a></li>

    <li><a href="{% url issues.views.manage_new "SMSA-CCAP-PC" %}">SMSA CCAP Rep (Preclinical)</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-CCAP-C" %}">SMSA CCAP Rep (Clinical)</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-CCAP-MD" %}">SMSA CCAP Rep (MD/PhD)</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-CCAP-YO" %}">SMSA CCAP Rep (Year-Off)</a></li>

    <li><a href="{% url issues.views.manage_new "SMSA-ClassRep" %}">SMSA Class Rep</a></li>

    <li><a href="{% url issues.views.manage_new "SMSA-SC-PC" %}">SMSA Social Chair (Preclinical)</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-SC-C" %}">SMSA Social Chair (Clinical)</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-SC-YO" %}">SMSA Social Chair (Year-Off)</a></li>

    <li><a href="{% url issues.views.manage_new "SMSA-Mentorship-PC" %}">SMSA Mentorship &amp; Wellness Chair (Preclinical)</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-Mentorship-C" %}">SMSA Mentorship & Wellness Chair (Clinical)</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-Alumni" %}">SMSA Alumni Chair</a></li>
    <li><a href="{% url issues.views.manage_new "SMSA-Prospective" %}">SMSA Prospective Student Recruitment Chair</a></li>
</ul>

{% endblock %}