{% extends "issues/base-public.html" %}

{% block content %}
    <h1>Declaration of Intent: Special Fee </h1>
    <p>The process for declaring intent for special fees is multifaceted. Before you submit a Declaration of Intent, please
        be sure you understand the whole process, the petitioning requirements, and the types of information you must disclose
        to the Elections Commission and to the legislative bodies.</p>
        <p>See the <a href="http://elections.stanford.edu/petition-guide">full petitions guide</a> for more info,
        and <a href="http://elections.stanford.edu/contact">contact the Elections Commission</a> if you have any questions.</p>
    <p>When you complete this form, your group will have a petition created. However, this petition will not be public until
        the Elections Commission has had a chance to review the materials you submit. You,the sponsor, will be able to view your petition and
        edit your public statements. The Elections Commission will review new petitions within 48 hours (72 hours on weekends.) We will
        inform you, the sponsor, by email when our review is complete.</p>
        <p>If you wish to petition on paper, please submit paper petition materials to the Elections Commission so they can be approved. Remember: ALL petitions
        must be approved prior to being used!</p>

<hr/>
    {% if form.non_field_errors %}
    <dd style="background:#CC0000;color:white;font-weight:bold;padding:.5em;margin:1.5em;">{{ form.non_field_errors }}</dd>
    {% endif %}

    <h2>Special Fee Information</h2>

    <h2>Sponsor Information</h2>
<form action="{% url issues.views.manage_new_specialfee %}" method="post" enctype="multipart/form-data">
    <dl>
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% else %}
            <dt>{{ field.label_tag }}</dt>
            <dd {% if field.errors %}class="error_field" {% endif %}>{{ field }}</dd>
            {% if field.help_text %}<dd class="help_text">{{ field.help_text }}</dd>{% endif %}
            {% if field.errors %}<dd class="errors">{{ field.errors }}</dd>{% endif %}
        {% endif %}
    {% endfor %}
    </dl>

<hr />
<h2>Qualification Questions</h2>
<p style ='padding-bottom:1em;'>The following statements are necessary qualifications to declare intent.
    Please review and respond to each statement individually. Click the checkbox to the left of each statement to
agree to that statement. If you do not understand or cannot honestly respond to any statement below, please contact
the Elections Commission.</p>
<ul>
{% for f,value in form.get_qual_fields %}
    <p style='padding-bottom:.75em;'><span style="padding:.25em;margin:.5em;background:#436589;"><input type='checkbox' name = 'qual_{{ f }}' value = 'True' /></span> {{ value }}</p>
{% endfor %}
</ul>
<hr />
<h2>Petitioning Information</h2>
    <p>When you complete this form, your group will have a petition created. However, this petition will not be public until
        the Elections Commission has had a chance to review the materials you submit. You,the sponsor, will be able to view your petition and
        edit your public statements. The Elections Commission will review new petitions within 48 hours (72 hours on weekends.) We will
        inform you, the sponsor, by email when our review is complete.</p>
    <p>If you wish to petition on paper, please submit paper petition materials to the Elections Commission so they can be approved. Remember: ALL petitions
        must be approved prior to being used!</p>
    <div>
        <input type="submit" value="Declare Intent for Special Fees">
    </div>
</form>

{% endblock %}